/*---------------------------


    Layout


------------------------------*/
.container {
  max-width: 75rem;
  margin: auto;
  align-items: center;
}
main {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}
/*---------------------------


    Buttons


------------------------------*/

.btn-primary {
}

/*---------------------------


    Main


------------------------------*/


.div:first-of-type {
  position: fixed;
}
.check {
  position: relative;
  left: 1.3025rem;
}
.checkers {
  position: relative;
  right: 1.3025rem;
}
.dark {
  background-color: black;
}
.light {
  background-color: white;
}
