/*---------------------------


    Layout


------------------------------*/
.container {
  max-width: 75rem;
  margin: auto;
  align-items: center;
}

/*---------------------------


    Buttons


------------------------------*/

.btn-primary {
}

/*---------------------------


    Main


------------------------------*/

.container > div {
  margin: 0 auto;
  max-width: fit-content;
}
.div:first-of-type {
  position: fixed;
}
.imagine {
  position: relative;
  left: 20px;
}
